.carousel-caption{
    position: absolute;
    right: 15%;
    top: 30%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: start !important;
}





@media only screen and (max-width: 780px){
    .home_slider img{
        height: 30rem;
        width: auto;
    }
}