.single_package{
    border: 1px solid lightgray;
    border-radius: 10px;
}

.single_package .pac img{
    height: 250px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.single_package .pac .pac_info{
    padding: 20px;
}
.single_package .pac p{
    text-align: justify;
}
.pakage_button{
    color: white !important;
    font-weight: 500 !important;
    font-size: 15px;
}