.booking_area{
    background-image: url(../../../../images/about.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.booking .city_and_country{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 5px;
}
.booking{
    width: 50%;
    margin: 5em auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
}

@media only screen and (max-width: 768px){
    .booking{
        width: 100%;
        margin: 15px auto;
    }
}
