.navigation{
    border-bottom: 1px solid lightGray;
    background-color: rgba(0, 0, 0, 0.203) !important;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.navigation img{
    width: 100px;
    height: auto;
    padding: 10px;
}
.navigation_ancor .nav-link{
    padding: 0;
}
.navigation_ancor a{
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff !important;
}
.login_button{
    background: none;
    color: white;
    font-weight: 500;
    width: 100px;
    padding: 5px 5px;
    margin: 0;
    border: 1px solid lightgray;
    border-radius: 25px;
}
.navbar-toggler{
    border: 1px solid white !important;
}


@media only screen and (max-width: 780px){
    .navigation{
        position: sticky;
        background-color: rgb(255, 191, 0) !important;
    }
    .navigation img{
        width: 70px;
        padding: 0;
    }
}