.navigation{
    border-bottom: 1px solid lightGray;
    background-color: rgba(0, 0, 0, 0.203);
    position: absolute;
    width: 100%;
    z-index: 2;
}
.navigation img{
    width: 100px;
    height: auto;
    padding: 10px;
}
.navigation a{
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}